/*
全画面共用
*/
.body{
    display: block;
    justify-content:center;
}

.btn{
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin:15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button img{
    cursor: pointer;
}

.btn-icon{
    background: none;
    border: 0;
}

.btn-link{
    padding: 10px 10px;
    background-color: rgb(168, 167, 167);
    color: white;
    border: none;
    width: 145px;
    height: 40px;
}

.btn-primary{
    width: 150px;
    height: 45px;
    background-color: black;
    color: white;
}

.btn-reverse{
    padding: 8px 6px;
    width: 138px;
    height: 28px;
    background: white;
    color: black;
    border: 1px solid black;
}

.color-red{
    color: #da0000;
}

.errors{
    margin: 10px;
}

.text-box{
    width: 260px;
    height: 35px;
    font-size: 20px;
    margin: 15px;
    font-size: 15px;
}

.form-group{
    margin: 5px 0;
    display: block;
}

.form-group .btn-group{
    justify-content: center;
    display: inline-flex;
}

.checkbox{
    width: 20px;
    height: 20px;
}

a{
    text-decoration: none;
}

.nothing{
    font-size: 16px;
}

/*
全画面共通のレスポンシブ対応
*/
@media screen and (max-width:500px) {
    .btn{
        margin: 0 5px;
        font-size: 13px;        
    }

    .btn-primary{
        width: 100px;
        height: 30px;
    }
    
    .btn-reverse{
        padding: 3px 10px;
        width: 88px;
        height: 22px;
    }

    .text-box{
        margin: 5px;
    }

    .btn-link{
        width: 100px;
        height: 30px;
    }

    .form-group{
        margin: 20px 0;
    }

    .form-group .btn-group{
        margin-top: 25px;
    }

    .checkbox{
        width: 15px;
        height: 15px;
    }

    .nothing{
        font-size: 12px;
    }
}

/* 
トップ画面、ログイン画面、会員登録画面共通
*/

.before-login{
    margin: auto;
    text-align: center;
}

.to-auth{
    margin: 70px;
}

.app-title{
    padding-top: 50px;
    width: 100%;
}

.app-title h1{
    font-size: 40px;
}

.welcome{
    margin: 15px 0;
}

.auth-link {
    color: gray;
    margin: 5px 0;
}

.btn-welcome{
    padding: 5px 30px;
}

@media screen and (max-width: 500px) {
    .before-login{
        margin-top: 150px;
    }

    .to-auth{
        margin: 0;
    }

    .btn-welcome{
        padding: 10px 30px;
    }
}

/*
ログイン後の全画面共通
*/
.headline{
    height: 50px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.headline h1{
    font-size: 38px;
    display: inline;
    }

.help-icon{
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-left: 7px;
}

.link li{
    float: right;
    list-style: none;
}

.panel-body{
    width: 100%;
    height: auto;
}

.headline h2{
    margin: 15px 100px;
}

.current-page{
    font-size: 20px;
}

.icon img{
    border-radius: 50%;
    border: solid black 1px;
}
.footer{
    position: fixed;
    bottom: 0;    
    height: 70px;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid lightgray;
    text-align: center;
}

.footer .menu{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 10px;
}

.footer .menu .icon{
    list-style: none;
}

.footer .menu .icon img{
    width: 60px;
    height: 60px;
    margin: 3px 100px 0;
}

/*
ログイン後の全画面のレスポンシブ対応
*/
@media screen and (max-width:500px) {
    .headline h1{
        font-size: 33px;
        display: inline;
        }

    .help-icon{
        width: 33px;
        height: 33px;
    }

        .current-page{
        font-size: 18px;
    }

    .footer .menu .icon img{
        width: 45px;
        height: 45px;
        margin: 10px 30px 0;
    }
}

/*
アイテム一覧画面、タグごとのアイテム一覧画面、コーディネート一覧画面
*/
.panel .panel-body .data{
    width: 100%;
    height: 100%;
}

.item-img{
    text-decoration: none;
    margin: 3px;
    object-fit: contain;
    border: solid 1px lightgray;
}

.item-img-index{
    display: inline-block;
    width: 200px;
    height: 200px;
}

.add-btn{
    position: fixed;
    bottom: 85px;
    width: 100%;
    text-align: right;
    display: block;
}

.add-btn .icon{
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

/*
ホーム画面、タグごとのアイテム一覧のレスポンシブ対応
*/
@media screen and (max-width: 500px) {
    .item-img{
        text-decoration: none;
        margin: 2px;
    }

    .item-img-index{
        width: 70px;
        height: 70px;
        margin: 0;
    }

    .add-btn .icon{
        width: 50px;
        height: 50px;
    }
}

/*
タグ一覧画面
*/
.tag{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 0 0 -1px;
}

.tag-group{
    width: 100%;
    height: 80px;
    margin: 10px 0 0 0;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-group li{
    list-style: none;
}

.tag-btn-group{
    display: inline-flex;
    margin-right: 8px;
}

.tag-name{
    color: #4a4a4a;
    text-decoration: underline;
}

.tag-btn-reverse{
    width: 150px;
    height: 40px;
    background: white;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
}

.tag-btn-group .icon img{
    padding: 3px;
    margin: 0 20px;
    width: 60px;
    height: 60px;
}

/*
タグ一覧画面のレスポンシブ対応
*/
@media screen and (max-width:500px) {
    .tag-name{
        font-size: 14px;
    }
    .tag-group{
        margin: 10px;
        height: 50px;
    }
    
    .tag-btn-group .icon img{
        margin: 7px;
        padding: 3px;
        width: 33px;
        height: 33px;
    }
    }

/*
アイテム/コーディネート登録画面・編集画面・詳細画面共用
*/
.form-after-login{
    margin: 70px auto;
    text-align: center;
}

.delete-btn{
    position: fixed;
    right: 15px;
}

.delete-btn .icon img{
    padding: 3px;
    width: 65px;
    height: 65px;
}

.img-upload{
    margin: 30px auto;
}

.item-img-detail{
    width: 220px;
    height: 220px;
}

.item-name{
    margin: 10px auto;
}

.tag-box{
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    height: 90px;
    font-size: 14px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    overflow: wrap;
    overflow: scroll;
}

/*
アイテム登録画面・アイテム編集画面・アイテム詳細画面共用のレスポンシブ対応
*/
@media screen and (max-width:500px) {

    .form-after-login{
        margin: 50px auto 30px auto;
        text-align: center;
    }

    .delete-btn .icon img{
        padding: 3px;
        width: 40px;
        height: 40px;
    }

    .img-upload{
        margin: 90px auto 30px auto;
    }
    
    .item-img-detail{
        width: 160px;
        height: 160px;
    }
}

/* アイテム編集画面 */
.tag-box-item-update{
    margin: 30px auto;
}

@media screen and (max-width:500px) {
    .tag-box-item-update{
        margin: 50px auto;
    }
}

/* コーディネート画面共通 */
.outfit-img-box{
    margin: 100px 0 50px 0;
}

@media screen and (max-width:500px) {
    .outfit-img-box{
        margin: 100px 0 50px 0;
    }
}

/*コーディネート一覧画面*/
.outfit{
    width: 318px;
    height: 318px;
    border: solid 1px gray;
    overflow: hidden;
    display: inline-block;
}

.outfit-img-index{
    width: 150px;
    height: 150px;
    margin: 2px;
    display: inline-block;
    text-align: left;
}

/*コーディネート一覧画面のレスポンシブ対応*/
@media screen and (max-width:500px) {
    .outfit{
        width: 170px;
        height: 170px;
        margin: 1px;
    }

    .outfit-img-index{
        width: 78px;
        height: 78px;
        margin: 1px;
    }
}

/*コーディネート登録画面/編集画面・アイテム選択画面*/

.select-items{
    margin: 5px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.outfit-img-set{
    width: 190px;
    height: 190px;
}

.checkbox-select-items{
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 0;
}

.btn-select-items{
    padding: 6px 18px;
}

@media screen and (max-width:500px) {
    .select-items{
        margin: 2px;
    }

    .outfit-img-set{
        width: 144px;
        height: 144px;
    }

    .checkbox-select-items{
        margin-top: 2px;
        margin-right: 2px;
    }
    
    .btn-select-items{
        padding: 5px 10px;
    }
}

/*コーディネート詳細画面*/
.outfit-images{
    width: 582px;
    height: 204px;
    margin: 0 auto;
    border: solid 1px black;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.outfit-img-detail{
    width: 180px;
    height: 180px;
}

@media screen and (max-width:500px) {
    .outfit-images{
        width: 340px;
        height: 150px;
    }

    .outfit-img-detail{
        width: 144px;
        height: 144px;
    }
}

/* モーダル */
.modal-container{
    position: fixed;
    top: 30px;
    margin: auto;
    display: none;
    border-radius: 10px;
    max-width: 800px;
    max-height: 600px;
    z-index: 3;
}

.modal-btn{
    display: inline;
}

.delete-modal-container .btn-reverse{
    width: 150px;
    height: 45px;
}

.help-modal-container{
    overflow: scroll;
}

.help-modal-close{
    color: gray;
    text-align: right;
    cursor: pointer;
}

.help-headline{
    font-size: 25px;
    border-bottom: 1px solid gray;
}

.help-section{
    margin: 10px 10px 30px 10px;
}

.help-section p{
    font-size: 15px;
}

.help-sub-headline{
    font-size: 20px;
    margin-bottom: 0;
}

.help-gray{
    color: gray;
    margin-top: 5px;
}

@media screen and (max-width:500px) {
    .modal-container{
        max-width: 300px;
        max-height: 520px;
    }

    .modal-delete-no{
        width: 100px;
        height: 30px;
    }
        
    .help-headline{
        font-size: 20px;
    }

    .help-sub-headline{
        font-size: 16px;
    }

    .help-content p{
        font-size: 12px;
    }
}
