/*
全画面共用
*/
.body{
    display: block;
    -webkit-justify-content:center;
}

.headline{
    height: 50px;
    border-bottom: 1px solid lightgray;
}

.headline h2{
    margin: 15px 100px;
}

.current-page{
    font-size: 20px;
}

.panel-body{
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.btn{
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin:auto 15px;
    cursor: pointer;
    text-decoration: none;
}

.btn-link{
    background-color: rgb(168, 167, 167);
    color: white;
    border: none;
    width: 150px;
    height: 40px;
}

.btn-primary{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
}

.btn-reverse{
    width: 138px;
    height: 33px;
    background: white;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
}

.errors{
    color: red;
}

.content .footer{
    position: fixed;    
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid lightgray;
    text-align: center;
}

.footer .page-transition{
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer .page-transition .page-transition-btn{
    list-style: none;
}

.footer .page-transition li{
    margin: 10px 0 20px;
    margin-top: 5px;
}

.text-box{
    width: 260px;
    height: 35px;
    font-size: 20px;
    margin: 5px;
    font-size: 15px;
}

.form-group .btn-group{
    margin-top: 60px;
    justify-content: center;
    display: inline-flex;
}

@media screen and (max-width:500px) {

    .current-page{
        font-size: 18px;
    }

    .btn{
        padding: 2px 5px;
        margin: auto 5px;
        font-size: 13px;        
    }

    .btn-primary{
        width: 100px;
        height: 30px;
    }
    
    .btn-reverse{
        width: 88px;
        height: 24px;
    }

    .btn-link{
        width: 100px;
        height: 30px;
    }
}

/* 
トップ画面、ログイン画面、会員登録画面共通
*/
.form-group{
    margin: 5px 0;
    display: block;
}

.before-login{
    margin: auto;
    text-align: center;
}

.to-auth{
    margin: 70px;
}

.app-title{
    padding-top: 50px;
    width: 100%;
}

.app-title h1{
    font-size: 40px;
}

.row{
    display: block;
    padding: 5px;
}

.welcome{
    margin: 15px 0;
}

.auth-link {
    color: gray;
    margin: 5px 0;
}

.btn-welcome{
    padding: 5px 40px;
}

@media screen and (max-width: 500px) {
    .before-login{
        margin-top: 150px;
    }

    .to-auth{
        margin: 0;
    }
}

/*
ホーム画面、タグごとのアイテム一覧
*/
.headline h1{
    font-size: 33px;
    text-align: center;
}

.link li{
    float: right;
    list-style: none;
}

.panel{
    padding-bottom: 100px;
}

.panel .panel-body .item-photo{
    width: 180px;
    height: 180px;
    float: left;
    margin: 5px;
}

.item-img{
    width: 170px;
    height: 170px;
    margin: 5px;
    object-fit: cover;
}

.ditch{
    width: 100%;
    height: 100px;
}

@media screen and (max-width: 500px) {
    .panel .panel-body .item-photo{
        width: 70px;
        height: 70px;
    }
    
    .item-img{
        width: 65px;
        height: 65px;
    }
}

/*
タグ一覧画面
*/
.tags{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 0 0 -1px;
}

.tag-group{
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-group li{
    list-style: none;
}

.tag-btn-group{
    display: inline-flex;
}

.tags .tag-group .tag{
    color: black;
    text-decoration: none;
}

.tag-btn-reverse{
    width: 150px;
    height: 40px;
    background: white;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
}

@media screen and (max-width:500px) {

    .tag-btn-reverse{
        width: 100px;
        height: 30px;
    }
}

/*
アイテム登録画面・アイテム編集画面共用
*/
.form-after-login{
    margin: 70px 180px;
    text-align: center;
}

.img-upload{
    margin-bottom: 20px;
}

.item-form{
    width: 138px;
}

.tag-box{
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    overflow: wrap;
    overflow: scroll;
}

@media screen and (max-width:500px) {

    .form-after-login{
        margin: 0;
        text-align: center;
    }

    .item-form{
        width: 108px;
    }
}